ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: black;
}

.active {
    color:white;
}

.jumbotron {
    background-color: green;
    padding: 20px;
}
h1{
    text-align: center;
    color: white;
}

.route{
 height:500px;;
 width: 1000px;
 background-color: violet;
}