ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: black;
}

.active {
    color:white;
}

.jumbotron {
    background-color: greenyellow;
    padding: 20px;
}
h1{
    text-align: center;
    color: white;
}

.route{
 height:500px;;
 width: 1000px;
 background-color: violet;
}

footer {
    text-align: center;
    background-color: #000000dc;
    border: none;
    color: rgb(224, 211, 211);
    padding: 5px 15px;
    text-decoration: none;
    cursor: pointer;
    position: fixed;
    width: 95%;
    bottom: 0rem;
}