<div class="jumbotron jumbotron-fluid">
    <div class="container-fluid">
        <h1>Welcome To Bankito</h1>
    </div>
</div>
<div class="box">
    <h2>LOGIN</h2>
    <form action="slog.html" method="post">
        <div class="inputBox">
            <input type="text" name="" required="">
            <label>username</label>
        </div>
        <div class="inputBox">
            <input type="password" name="" required="" maxlength="8">
            <label>password</label>
            
        </div>

        <input type="submit" name="" value="submit">
     </form>
    
</div>