<div class="container-fluid">
    <br/>
    <h2>Profile</h2>
        <div class="card-body">
            <p class="card-text">Id: {{user.customerId}}</p>
            <p class="card-title">Firstname: {{user.customerFirstname}}</p>
            <p class="card-title">LastName: {{user.customerLastname}}</p>
            <p class="card-text">Email: {{user.customerEmail}}</p>
            <p class="card-text">City: {{user.customerCity}}</p>
            <p class="card-text">Phone: {{user.customerContact}}</p>
        </div>
</div>
